.main_contact {

    .trigger {
        width: 100%;
        //-webkit-box-shadow: 0 0 5px 0 #363434;
        //box-shadow: 0 0 5px 0 #363434;
        margin: 0 auto;
        border-radius: 5px;
        padding: 10px 30px;
        text-align: center !important;
        background: red;
        line-height: 15px;
        font-size: 10px !important;
        color: #000 !important;
        transition: all 0.2s !important;
    }

    .trigger strong {
        font-weight: bold;
        font-size: 13px;
    }

    .trigger a {
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px 15px;
        background: #069;
        color: #fff;
    }

    .trigger i {
        font-size: 40px;
    }

    .trigger a:hover {
        background: #09f;
        color: #fff;
    }

    .accept {
        background: #71ca73;
        border: solid #4f8e51 1px;
    }

    .infor {
        background: #c8dbfd;
        border: solid #99a8c1 1px;
    }

    .alert {
        background: #faf7b7;
        border: solid #d1ce9a 1px;
    }

    .error {
        background: #ffafaf;
        border: solid #964c4c 1px;
    }

    form {
        padding: 20px;
        width: 600px;
        max-width: calc(100% - 40px);
        background: #FFF;
        margin: 0 auto;
        margin-top: 40px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        h2 {
            margin-bottom: 20px;
            font-size: 1.2em;
        }
    }
}

.main_contact_types {

    h2 {
        font-size: 1.4em;
        color: #666;
    }

    p {
        font-size: 0.875em;
    }
}
