.main_property {

    h2 {
        margin: 40px 0 20px 0;
    }

    .main_property_price {

        .main_property_price_small {
            margin-bottom: 0px;
            font-size: 0.8em;
        }

        .main_property_price_big {
            margin-bottom: 0px;
            font-size: 1.4em;
        }
    }

    .main_property_content_description {

        p {
            margin-bottom: 20px;
        }
    }

    .main_property_structure {
        .main_property_structure_item {
            padding: 6px 12px;
            margin-left: 10px;
            margin-bottom: 10px;
            background-color: #36BA9B;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: 1px solid #2d9a81;
            color: #fff;
        }
    }

    .main_property_contact {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;

        h2 {
            font-size: 1.2em;
            margin: 0px;
            padding: 20px;
        }

        .trigger {
            width: 100%;
            //-webkit-box-shadow: 0 0 5px 0 #363434;
            //box-shadow: 0 0 5px 0 #363434;
            margin: 0 auto;
            border-radius: 5px;
            padding: 10px 30px;
            text-align: center !important;
            background: red;
            line-height: 15px;
            font-size: 10px !important;
            color: #000 !important;
            transition: all 0.2s !important;
        }

        .trigger strong {
            font-weight: bold;
            font-size: 13px;
        }

        .trigger a {
            font-weight: 600;
            text-transform: uppercase;
            padding: 5px 15px;
            background: #069;
            color: #fff;
        }

        .trigger i {
            font-size: 30px;
        }

        .trigger a:hover {
            background: #09f;
            color: #fff;
        }

        .accept {
            background: #71ca73;
            border: solid #4f8e51 1px;
        }

        .infor {
            background: #c8dbfd;
            border: solid #99a8c1 1px;
        }

        .alert {
            background: #faf7b7;
            border: solid #d1ce9a 1px;
        }

        .error {
            background: #ffafaf;
            border: solid #964c4c 1px;
        }

        form {
            padding: 20px;
            background-color: #F9F9F9;
            border: 1px solid #ccc;
        }
    }
}
